#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_install:
	$(MAKE) install-flowgate install-services install-web DESTDIR=$$(pwd)/debian/tmp PREFIX=/usr SYSTEMD_UNITDIR=/usr/lib/systemd/system INIT_SYSTEM=systemd
